body {
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.container {
  margin-top: 400px;
    display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
input {
  transition: border 0.5 ease;
}
